/* 
Css for goodluck e-commerce website
It has basically heading (Goodluck Store) , 
Main navbar ( Home , etc . ) , 
Side Navbar ( Search Bar , cart) , 
Slideshow_div ( slideshow ) , 

After all we have the items div inside it has items classes 
like inside items div we -- 
Boxer div ,
Lower div ,
T-shirt div , 
Socks div . 

Usage of Search Box :- 
    When you will type Boxers or anything , 
    It will you to the Boxers field using "window.scroll()"
    func . 
Usage of Cart:-
    When users click on add to cart btn , there would be animation for cart btn basically the cart will vibrate for second and no. of items will be print.


*/
*{margin:0;padding:0;box-sizing: border-box;}
    .heading{
        position: relative;
        top:27px;
        font-size: 30px;
        color:white;
    }
    .top_div{
        position: fixed;
        top: -10px;
        left: 1px;
        z-index: 200;
        background-color: black;
        height: 70px;
        width: 1499px;
        overflow: hidden;
    }
    .main_navbar ul{
        overflow: hidden;
        float: left;
        position: relative;
        top:-20px;
        left:208px;
    }
    .main_navbar li{
        display: inline-block;
        list-style: none;
        font-size: 20px;
        margin:20px;
        margin-bottom: 10px;
    }
    .main_navbar li a{
        display: inline-block;
        text-decoration: none;
        color:white;
    }
    .lis::after{
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #fff;
        transition: width .3s;
    }
    .lis:hover::after{
        width: 100%;
        transition: width .3s;
    }
    .side_navbar ul{
        float: right;
        position: relative;
        top:-20px;
        left:-133px;
    }
    .side_navbar li a {
        text-decoration: none;
        color: white;
    }
    .side_navbar li {
        list-style: none;
        font-size: 20px;
        margin: 20px;
        display: inline-block;
    }
    input{
        width:190px;
        height: 30px;
        border-radius: 22px;
    }


    /*Slideshow Css */
    .slideshow_div{
        margin-top:97px;
        align-items: center;
    }
    .btn1{
        font-size: 29px;
        position: relative;
        top:-128px;
        left:256px;
    }
    .btn2{
        font-size: 29px;
        position: relative;
        top:-128px;
        left: 1030px;
    }
    .mySlides{
        width:781px;
        height: 212px;
        position: relative;
        top: 1px;
        left: 271px;
    }
  
    /*Slideshow Css end*/
    /*Items Work Start*/
    .items{
        position: relative;
        left:26px;
    }
    .boxers{
        display: flex;
        position: relative; 
        left: -26px;
    }
    .div{
    border:1px solid black;
    margin-bottom: 10px;
    margin:20px;
  }
  .add_cart{
    background: green;
    color:white;
  }

  /* LOWER */
  .lower{
      display: flex ;
  }
  /*T-SHIRT*/
  .t-shirt{
      display: flex;
  }
  /*SOCKS*/
  .socks{
      display: flex;

  }
  .div:hover{
    transition: all 0.3s linear;
    transform: scale(1.1);
  }

  /* Media Query */
  @media (max-width:768px) and (min-width: 593px){
    .slideshow_div{
      position: relative;
      left:-120px;
    }
    .heading{
      position: relative;
      left:20px;
      font-size: 120%;
    }
    p{
      font-size:120%;
    }
  }
  @media (max-width: 375px) and (min-width: 320px){
    .slideshow_div{
      position: relative;
      left: -120px;
    }
    .heading{
      font-size: 100%;
    }
    p{
      font-size: 150%;
    }
  }
